.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
        height: 200px;
        width: 300px;
        border-radius: 5px;
    }

    > span{
        margin: 10px 0;
        font-size: 1.3em;
        font-weight: 550;
    }

    .ingredients-bloc{
        display: flex;
        width: 100%;
        flex-direction: column;

        > span{
            margin-right: 5px;
            font-weight: 545;
        }

        .ingredients{
            display: flex;
            flex-wrap: wrap;
            font-size: 0.92em;
            
            .ingredient{

                p{

                }
            }
        }
    }
}