

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo';

}

input,
a,
button,
div{
    -webkit-tap-highlight-color: transparent;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
